body {
    padding-top: 50px;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
textarea.dark-mode, p.dark-mode {
    background-color: #333333;
    color: #ffffff;
}
#dark-mode-toggle {  
    position: absolute;  
    top: 20px;  
    right: 20px;  
    cursor: pointer;  
}  